name: main
on:
  push:
    branches:
      - main
jobs:
  test-api:
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # INstall Node on the runner
      - name: Install Node
        uses: actions/setup-node@v1
        with:
          node-version: 16
     
      # Install the newman command line utility and also install the html extra reporter
      - name: Install newman
        run: |
          npm install -g newman
          npm install -g newman-reporter-htmlextra
          
      # Make directory to upload the test results
      - name: Make Directory for results
        run: mkdir -p testsResults
        
      - name: Install dependencies
        run: npm install  

      # Run the POSTMAN collection
      - name: Run POSTMAN collection
        if: always()
        continue-on-error: true
        run: | 
          npm run tern-on-api &
          sleep 2
          newman run store.collection.json -r htmlextra --reporter-htmlextra-export ./testsResults/index.html
          kill -9 `lsof -i:5000 -t` 
     
      # Upload the contents of Test Results directory to workspace
      - name: Output the run Details
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: RunReports
          path: ./testsResults
          
      - name: Deploy report to Github Pages
        if: always()
        uses: peaceiris/actions-gh-pages@v2
        env:
          PERSONAL_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PUBLISH_BRANCH: pages
          PUBLISH_DIR: ./testsResults   
